footer{
  color: var(--text-color);
  background-color: var(--bg-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
}

footer .footer-container{
  width: var(--footer-max-width);
  display: flex;
  justify-content: center;
  gap: 13px;
}