.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 4rem 0rem;
  /* border: 1px dotted yellow; */
}

.row{
  display: flex;
  margin: var(--gametile-gap-size) 0;
  gap: var(--gametile-gap-size);
}

.tile{
  width: var(--gametile-size);
  height: var(--gametile-size);
  border: var(--gametile-border-size) solid var(--gametile-border-color);
  border-radius: var(--gametile-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--gametile-font-size);
}

.correct{
  background-color: var(--gametile-correct-bg);
}

.incorrect {
  background-color: var(--gametile-incorrect-bg);
}

.game-tile{
  animation: flip 0.7s forwards;
  visibility: hidden;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
    visibility: hidden;
  }
  50% {
    transform: rotateX(90deg);
    visibility: hidden;
  }
  51% {
    transform: rotateX(90deg);
    visibility: hidden;

  }
  100% {
    transform: rotateX(0deg);
    visibility: visible;
  }
}